/**********************************
CSS RESET
**********************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/****************************************
END RESET
****************************************/
body{
  background-color: #3f51b5;
}

h1{
  color: white;
  text-align: center;
  font-family: Orbitron, sans-serif;
  font-size: 6em;
}

#wrapper{
  border: 10px solid #3f51b5;
  width: 1200px;
  margin: auto;
	padding: 15px;
}


.game-board{
  background-color: #3f51b5;

}

.time{
	color: white;
	font-family: Arial;
	text-align: right;
	padding-right: 170px;
}

.hearts{
	color: white;
	padding-bottom: 70px;
	padding-left: 100px;
}

.game-card-background{
  width:200px;
  height: 200px;
	font-size: 2em;
	display: inline-block;
	border-radius: 15px;
	background-color: #7986cb;
	transition: background .2s, transform 1s;

}

li{
	list-style: none;
}


.card-row1{
  color: #7986cb;
	border-radius: 15px;
	padding-left: 50px;
}

.card-row2{
  color: #7986cb;
	border-radius: 15px;
	padding-left: 50px;
}

.card-row3{
  color: #7986cb;
	border-radius: 15px;
	padding-left: 50px;
}

.card-row4{
  color: #7986cb;
	border-radius: 15px;
	padding-left: 50px;
}


input{
  width: 200px;
  height: 200px;

}

/* row 1 card IDs */

#cbox1{
  display:none;
}

#cbox1-2{
  display:none;
}

#cbox1-3{
  display:none;
}

#cbox1-4{
  display:none;
}

#cbox1-5{
  display:none;
}

/* row 2 card ID's */

#cbox2{
  display:none;
}

#cbox2-2{
  display:none;
}

#cbox2-3{
  display:none;
}

#cbox2-4{
  display:none;
}

#cbox2-5{
  display:none;
}

/* row 3 card ID's */

#cbox3{
  display:none;
}

#cbox3-2{
  display:none;
}

#cbox3-3{
  display:none;
}

#cbox3-4{
  display:none;
}

#cbox3-5{
  display:none;
}

/* row 4 card ID's */

#cbox4{
	display:none;
}

#cbox4-2{
	display:none;
}

#cbox4-3{
	display:none;
}

#cbox4-4{
	display:none;
}


#cbox4-5{
	display:none;
}


.checkbox{
  left: 15px;
  display: none;

}

input:checked + .game-card-background{
	width: 200px;
  height: 200px;
  color: #7986cb;
	transform: rotateY(180deg);
	background: white;
}


.fa-taxi{
  padding: 82px;
	display: inline-block;
	border-radius: 15px;
	color: #7986cb;

}

.fa-first-order{
	padding: 82px;
	display: inline-block;
	border-radius: 15px;
	color: #7986cb;
}

.fa-camera{
	padding: 82px;
	display: inline-block;
	border-radius: 15px;
	color: #7986cb;
}

.fa-bolt{
	padding: 82px;
	display: inline-block;
	border-radius: 15px;
	color: #7986cb;
}

.fa-diamond{
	padding: 82px;
	display: inline-block;
	border-radius: 15px;
	color: #7986cb;
}

.fa-coffee{
	padding: 82px;
	display: inline-block;
	border-radius: 15px;
	color: #7986cb;
}

.fa-cubes{
	padding: 82px;
	display: inline-block;
	border-radius: 15px;
	color: #7986cb;
}

.fa-gamepad{
	padding: 82px;
	display: inline-block;
	border-radius: 15px;
	color: #7986cb;
}

.fa-empire{
	padding: 82px;
	display: inline-block;
	border-radius: 15px;
	color: #7986cb;
}

.fa-chrome{
	padding: 82px;
	display: inline-block;
	border-radius: 15px;
	color: #7986cb;
}

/*------- styles for index page-------*/
#wrapper2{
	border: 10px solid #3f51b5;
	width: 550px;
	margin: auto;
}

.spacer{
	height: 200px;
}

.select-mode{
	shadow: 2px;
	background-color:#7986cb;
	width: 200px;
	height: 50px;
	border: white 2px;
	font-family: Arial;
	font-size: 2em;
	color: white;
	text-align: center;
	padding: 10px;
	padding-top: 10px;
}

#easybtn{

}

input:checked + .clicked-box{
	width: 200px;
  height: 200px;
  color: white;
	background-color: white;
